<div class="center-main-container">
  <div class="hero-container">
    <h1>🔥 Coddit Domain Name Service </h1>
    <h2>register your coddit domain url</h2>
    <button mat-raised-button color="primary" (click)="loadWeb3()" *ngIf="!account">connect wallet</button>
  </div>
  <div class="form-container" *ngIf="account">
    <mat-form-field appearance="fill" class="form-field-container">
      <mat-label>your username</mat-label>
      <input style="width: calc(100% - 50px);" matInput placeholder="elon" [formControl]="username" required>
      <mat-error *ngIf="username.invalid">{{getErrorMessage()}}</mat-error>
      <span class="unit-input">.coddit</span>

    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>your tagline</mat-label>
      <input matInput placeholder="tesla founder" [formControl]="tagline" required>
      <mat-error *ngIf="tagline.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="mintDomain()" *ngIf="account">mint</button>

  </div>
  <mat-chip-list>

    <mat-chip class="chip-network" color="accent" (click)="switchNetwork()" *ngIf="account && !networkIsPolygonMumbai">
      switch polygon Mumbai
    </mat-chip>
    <mat-chip class="chip-network" (click)="switchNetwork()"
              *ngIf="account && networkIsPolygonMumbai">{{account}} </mat-chip>
  </mat-chip-list>
  <div class="table-container" *ngIf="account && names && networkIsPolygonMumbai">
    <table >
      <tr>
        <th>id</th>
        <th>name</th>
        <th>tagline</th>
        <th>owner</th>
      </tr>
      <tr *ngFor="let name of names">
        <td>{{ name.id }}</td>
        <td>{{ name.name }}</td>
        <td>{{ name.record }}</td>
        <td><a href="https://mumbai.polygonscan.com/address/{{name.owner}}" target="_blank" >{{ name.owner }}</a></td>
      </tr>
    </table>
  </div>
  <div *ngIf="networkIsPolygonMumbai">
    <span>Polygon Mumbai network</span>
  </div>
</div>
